allure-pytest
allure-python-commons
allure-python-commons-test
arrow
astroid
atomicwrites
attrs
beautifulsoup4
bs4
certifi
chardet
colorama
cssselect
ddt
easydict
Faker
idna
isort
Js2Py
lazy-object-proxy
mccabe
more-itertools
parse
parse-type
phonenumbers
pluggy
py
pycparser
PyExecJS
pyjsparser
pylint
PyMySQL
pytest
pytest-pycharm
pytest-xdist
pytest-timeout
python-dateutil
pytz
tox
PyYAML
redis
requests
requests-cache
robotframework
robotframework-selenium2library
robotframework-seleniumlibrary
booktype
selenium
six
text-unidecode
tzlocal
urllib3
wrapt
pychrome
websocket-client
webdriver-manager
testcontainers
asn1crypto
bcrypt
cffi
cryptography
paramiko
pynacl

typing-extensions